
QPushButton {{
    color: rgba(77, 208, 225, 0.8);
    background-color: #31363b;
    border: 1px solid rgba(77, 208, 225, 0.8);
    border-radius: 4px;
    height: 20px;
}}

QTableView {{
    background-color: rgb(35, 38, 41); 
    border: 1px solid #232629;
    border-radius: 4px;
}}

QTableView {{
    alternate-background-color: #31363b;
}}

.auto_btn {{
    color: rgba(77, 208, 225, 0.8);
}}
  