QHeaderView::section:horizontal {{
    color: auto;
    padding: 0;
}}

QTableView::item {{
    color: auto;
  }}

QGroupBox {{
    font-weight: bold;
    font-size: 14px;
}}

.tx-bold {{
    font-weight: bold;
}}
