QHeaderView::section:horizontal {{
    color: auto;
    padding: 0;
}}

QTableView::item {{
    color: auto;
  }}

QGroupBox {{
    font-weight: bold;
    font-size: 14px;
}}

.tx-bold {{
    font-weight: bold;
}}

.tx-light-red {{
    color: {QT_LIGHT_RED}
}}

.tx-light-blue {{
    color: {QTMATERIAL_PRIMARYCOLOR}
}}
